name: Publish to pub.dev

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run (validate only, do not publish)'
        type: boolean
        default: true

permissions:
  id-token: write

jobs:
  test:
    name: Analyze & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          channel: stable
      - name: Check formatting
        run: ./scripts/format.sh
      - name: Run static analysis
        run: ./scripts/analyze.sh
      - name: Run unit tests
        run: ./scripts/unit_tests.sh

  publish:
    name: Publish packages
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          channel: stable
      - name: Publish (dry run)
        if: ${{ inputs.dry-run }}
        run: ./scripts/publish.sh --dry-run
      - name: Publish
        if: ${{ !inputs.dry-run }}
        run: ./scripts/publish.sh --publish
